@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
  
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll on the body */
}


.index-class-body {
    height: auto;
    background-color: #131313;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: #6CD4F4;
}

/* HEADER */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    font-weight: 799;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 0.1em;
}

.navbar .logo a {
    font-size: 1.5rem;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: #F4B206;
    color: #fff;
    padding: 0.7rem 2rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: scale .2 ease;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-optical-sizing: auto;
    font-style: normal;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    font-family: "Inter", sans-serif;
    font-weight: 799;
    font-optical-sizing: auto;
    font-style: normal;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 180px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* HERO */
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: #fff;
    position: relative; /* Changed from fixed to relative */
}

#hero h1 {
    font-size: 5rem;
    margin-left: 13rem;
    margin-bottom: 0.8rem;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-optical-sizing: auto;
    font-style: normal;
    transition: 1s;
}

#hero p {
    font-size: 1.5rem;
    margin-left: 13rem;
    margin-bottom: 0.8rem;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-optical-sizing: auto;
    font-style: normal;
}
/* RESPONSIVE DESIGN */
@media (max-width: 576px) {
    section#hero {
        justify-content: center; /* Centers content vertically */
        padding: 0 1rem; /* Adds padding to the sides */
    }

    #hero h1,
    #hero p {
        margin-left: 0; /* Remove left margin */
    }

    #hero h1 {
        font-size: 2.5rem;
    }

    #hero p {
        font-size: 1.2rem;
    }
}


/* RESPONSIVE DESIGN */
@media(max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

footer {
    text-align: left;
    background-color: #252525;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: small;
  }

footer section {
    background-color: black;
    padding: 100px;
    display: flexbox;
    width: 100%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;

}

footer p {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 40px;
    padding-left: 40px;
}

.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: top;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.main-footer div {
    flex: 1 1 250px; /* Allow each div to take up at least 250px and grow if there's space */
    padding: 10px;
}

/* MEDIA QUERIES FOR RESPONSIVENESS */
@media (max-width: 992px) {
    .main-footer {
        flex-direction: column;
        align-items: center; /* Center items when stacked */
    }

    .main-footer div {
        width: 100%; /* Make each div take full width on smaller screens */
        text-align: center; /* Center the content within each div */
        padding: 15px 0;
    }
}

@media (max-width: 576px) {
    .main-footer div {
        padding: 10px 0; /* Reduce padding for even smaller screens */
        font-size: 14px; /* Adjust the font size */
    }
}


li:list-number {
    list-style-image: url('anyimg1.gif');
}

li:list-email{
    list-style-image: url('anyimg2.gif');
}

.footer_btn {
    background-color: #6CD4F4;
    color: #fff;
    padding: 0.7rem 2rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: scale .2 ease;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-optical-sizing: auto;
    font-style: normal;
}

.footer_btn:hover {
    color: white;
}

.about-section img {
    justify-content: left;
    position: absolute;
    left: 50px;
    padding-top: 20px;
}

.services-section {
    background: rgb(87,212,239);
    background: linear-gradient(180deg, rgba(87,212,239,1) 0%, rgba(50,121,137,1) 100%);
}
.services-section {
    background: linear-gradient(180deg, #57d4ef, #327989);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 8s ease infinite;
    -moz-animation: AnimationName 8s ease infinite;
    -o-animation: AnimationName 8s ease infinite;
    animation: AnimationName 8s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 20%}
    50%{background-position:100% 81%}
    100%{background-position:0% 20%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 20%}
    50%{background-position:100% 81%}
    100%{background-position:0% 20%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 20%}
    50%{background-position:100% 81%}
    100%{background-position:0% 20%}
}
@keyframes AnimationName {
    0%{background-position:0% 20%}
    50%{background-position:100% 81%}
    100%{background-position:0% 20%}
}
.services-section {
    padding: 20px;
    background-color: #f9f9f9;
    position: relative;
}
.services-logo {
    position: static;
    top: 25px;
    left: 1px;
    padding-top: 0;
    margin-top: 0;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 16%;
    text-align: center;
    margin-bottom: 20px;
}
.card img {
    width: 100%;
    height: auto;
}
.card-description {
    padding: 15px;
}

.card h1 {
    font-style: italic;
}
@media (max-width: 1200px) {
    .card {
        width: 30%;
    }
}
@media (max-width: 992px) {
    .card {
        width: 45%;
    }
}
@media (max-width: 768px) {
    .card {
        width: 100%;
    }
    .services-logo {
        position: static;
        margin-bottom: 20px;
        text-align: center;
    }
    .cards-container {
        justify-content: center;
    }
}

.icon-bottom-right {
    position: absolute;
    bottom: 25px;
    right: 20px;
    background-color: #6CD4F4;
    color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 35px;
    text-align: center;
    z-index: 1000;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    animation: fadeIn 3s infinite alternate;
}

@keyframes fadeIn { 
    from { opacity: 0; } 
  }
  
  .animate-flicker {
      animation: fadeIn 1s infinite alternate;
  }

  .drone-operator-section {
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 66px 45px 22px 14px;
  }
  
  .content-wrapper {
    align-self: flex-end;
    width: 100%;
    max-width: 1786px;
  }
  
  .main-content {
    display: flex;
    gap: 20px;
  }
  
  .left-column {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  
  .logo-and-text {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  
  .inner-content {
    display: flex;
    gap: 20px;
  }
  
  .logo-column {
    display: flex;
    flex-direction: column;
    width: 28%;
  }
  
  .logo-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  
  .logo {
    aspect-ratio: 0.99;
    object-fit: contain;
    object-position: center;
    width: 167px;
    align-self: center;
    max-width: 100%;
  }
  
  .secondary-logo {
    aspect-ratio: 2.87;
    object-fit: contain;
    object-position: center;
    width: 100%;
    margin-top: 81px;
  }
  
  .text-column {
    display: flex;
    flex-direction: column;
    width: 72%;
  }
  
  .text-content {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    font-family: Inter, sans-serif;
    color: #000;
    text-align: center;
  }
  
  .title {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2.88px;
    align-self: center;
  }
  
  .description {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3.2px;
    margin-top: 43px;
  }
  
  .cta-buttons {
    align-self: flex-end;
    display: flex;
    width: 423px;
    max-width: 100%;
    gap: 20px;
    text-align: center;
    justify-content: space-between;
    margin: 19px 154px 0 0;
    font: 800 20px Inter, sans-serif;
  }
  
  .learn-more-btn {
    color: #6cd4f4;
    margin: auto 0;
  }
  
  .contact-btn {
    border-radius: 24px;
    background-color: #6cd4f4;
    color: #fff;
    padding: 27px 36px;
  }
  
  .right-column {
    display: flex;
    flex-direction: column;
    width: 20%;
  }
  
  .side-image {
    aspect-ratio: 0.68;
    object-fit: contain;
    object-position: center;
    width: 307px;
    max-width: 100%;
    flex-grow: 1;
  }
  
  .footnote {
    color: #000;
    letter-spacing: 1.08px;
    text-align: center;
    align-self: flex-start;
    margin-top: 36px;
    font: 300 12px Inter, sans-serif;
  }
  
  @media (max-width: 991px) {
    .drone-operator-section {
      max-width: 100%;
      padding-right: 20px;
    }
  
    .content-wrapper {
      max-width: 100%;
    }
  
    .main-content {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  
    .left-column,
    .text-column,
    .logo-column {
      width: 100%;
    }
  
    .logo-and-text,
    .logo-wrapper,
    .text-content {
      max-width: 100%;
      margin-top: 40px;
    }
  
    .secondary-logo,
    .description {
      margin-top: 40px;
    }
  
    .cta-buttons {
      margin-right: 10px;
    }
  
    .contact-btn {
      padding: 0 20px;
    }
  
    .right-column {
      width: 100%;
    }
  
    .side-image {
      margin-top: 40px;
    }
  
    .footnote {
      max-width: 100%;
    }
  }
  
  .drone-image {
    margin-left: 250px;
  }
  .banner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .brand-logo {
    display: flex; flex-direction: column; margin-right: 250px;
  }
  .brand-logo img {
    max-width: 200px;
    height: auto;
    margin-bottom: 25px;
    align-content: center;
  }
  
  .text-content {
    flex: 1;
    margin: 0 20px;
    max-width: 600px;
  }
  
  .text-content h1 {
    color: black;
    font: 700 24px Inter, sans-serif;
  }
  
  .text-content p {
    font: 300 16px Inter, sans-serif;
    color: black;
    font-style: italic;
    letter-spacing: 1px;
  }
  
  .buttons {
    margin-top: 50px;
  }
  
  
  .drone-image img {
    max-width: 300px;
  }
  
  @media (max-width: 991px) {
    .banner {
      flex-direction: column;
      padding: 20px;
      justify-content: center;
    }
  
    .brand-logo {
      margin-right: 0;
      margin-bottom: 20px;
      flex-direction: row;
      justify-content: center;
    }
  
    .text-content {
      margin: 20px 0;
      max-width: 100%;
    }
  
    .drone-image {
      display: none;
    }
    .drone-image img {
      align-content: center;
      margin-left: 0;
      max-width: 100%;
      align-self: center;
    }
  
    .buttons {
      flex-direction: row;
      justify-content: center;
      margin-top: 30px;
    }

    #learnMore-btn {
      margin-bottom: 1rem;
    }

    #trust-logo {
      height: 100px;
    }
  }
  
  .text-content {
    flex-grow: 1;
    max-width: 600px;
  }
  
  .buttons button {
    padding: 15px 35px;
    margin-right: 10px;
    border-radius: 17px;
    cursor: pointer;
    font: 700 15px Inter, sans-serif;
  }
  
  #contact-btn {
    background-color: #6CD4F4;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  #contact-btn:hover {
    background-color: #55b6d3;
  }
  
  
  #learnMore-btn { 
    border: 3px solid #6CD4F4 ;
    background-color:  white ;
    color: #6CD4F4 ;
    padding: 12px 28px ;
    font-size: 16px ; 
    cursor: pointer ;
  }
  
  #learnMore-btn:hover {
    background: #6CD4F4;
    color: white;
  }
  
  
  
   #hero video {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: -1; /* Ensures the video stays behind other content */
   }
  .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
  
.white-section {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 40px;
  padding-right: 40px;
}

.pswp-gallery {
  display: block;
  margin: 0 auto; /* Center the images horizontally */
  text-align: center; /* Center the images vertically */
}
