@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
  
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll on the body */
}


.index-class-body {
    height: auto;
    background-image: url(media/DJI_0016.jpg);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: #6CD4F4;
}

/* HEADER */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    font-weight: 799;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 0.1em;
}

.navbar .logo a {
    font-size: 1.5rem;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: #F4B206;
    color: #fff;
    padding: 0.7rem 2rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: scale .2 ease;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-optical-sizing: auto;
    font-style: normal;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    font-family: "Inter", sans-serif;
    font-weight: 799;
    font-optical-sizing: auto;
    font-style: normal;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 180px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* HERO */
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: #fff;
    position: relative; /* Changed from fixed to relative */
}

#hero h1 {
    font-size: 5rem;
    margin-left: 13rem;
    margin-bottom: 0.8rem;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-optical-sizing: auto;
    font-style: normal;
    transition: 1s;
}

#hero p {
    font-size: 1.5rem;
    margin-left: 13rem;
    margin-bottom: 0.8rem;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-optical-sizing: auto;
    font-style: normal;
}

/* RESPONSIVE DESIGN */
@media(max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

footer {
    text-align: left;
    background-color: #252525;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: small;
  }

footer section {
    background-color: black;
    padding: 100px;
    display: flexbox;
    width: 100%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;

}

footer p {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 40px;
    padding-left: 40px;
}

.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: top;
}

.main-footer div {
    padding-right: 5rem;
}

li:list-number {
    list-style-image: url('anyimg1.gif');
}

li:list-email{
    list-style-image: url('anyimg2.gif');
}

.footer_btn {
    background-color: #6CD4F4;
    color: #fff;
    padding: 0.7rem 2rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: scale .2 ease;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-optical-sizing: auto;
    font-style: normal;
}

.footer_btn:hover {
    color: white;
}

.about-section img {
    justify-content: left;
    position: absolute;
    left: 50px;
    padding-top: 20px;
}

.services-section {
    background: rgb(87,212,239);
    background: linear-gradient(180deg, rgba(87,212,239,1) 0%, rgba(50,121,137,1) 100%);
}
.services-section {
    background: linear-gradient(180deg, #57d4ef, #327989);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 8s ease infinite;
    -moz-animation: AnimationName 8s ease infinite;
    -o-animation: AnimationName 8s ease infinite;
    animation: AnimationName 8s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 20%}
    50%{background-position:100% 81%}
    100%{background-position:0% 20%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 20%}
    50%{background-position:100% 81%}
    100%{background-position:0% 20%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 20%}
    50%{background-position:100% 81%}
    100%{background-position:0% 20%}
}
@keyframes AnimationName {
    0%{background-position:0% 20%}
    50%{background-position:100% 81%}
    100%{background-position:0% 20%}
}
.services-section {
    padding: 20px;
    background-color: #f9f9f9;
    position: relative;
}
.services-logo {
    position: static;
    top: 25px;
    left: 1px;
    padding-top: 0;
    margin-top: 0;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px; /* Adjust margin to create space below the logo */
}
.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 16%;
    text-align: center;
    margin-bottom: 20px;
}
.card img {
    width: 100%;
    height: auto;
}
.card-description {
    padding: 15px;
}

.card h1 {
    font-style: italic;
}
@media (max-width: 1200px) {
    .card {
        width: 30%;
    }
}
@media (max-width: 992px) {
    .card {
        width: 45%;
    }
}
@media (max-width: 768px) {
    .card {
        width: 100%;
    }
    .services-logo {
        position: static;
        margin-bottom: 20px;
        text-align: center;
    }
    .cards-container {
        justify-content: center;
    }
}

.icon-bottom-right {
    position: absolute;
    bottom: 25px;
    right: 20px;
    background-color: #6CD4F4;
    color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 35px;
    text-align: center;
    z-index: 1000;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    animation: fadeIn 3s infinite alternate;
}

@keyframes fadeIn { 
    from { opacity: 0; } 
  }
  
  .animate-flicker {
      animation: fadeIn 1s infinite alternate;
  }

  
