@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    background-image: url('media/DJI_0016.jpg');
  }

  
li {
      list-style: none;
 }

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;

}

a:hover {
    color: #6CD4F4;
}

/* HEADER */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    font-weight: 799;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 0.1em;
}



.navbar .logo a {
    font-size: 1.5rem;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: #F4B206;
    color: #fff;
    padding: 0.7rem 2rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: scale .2 ease;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-optical-sizing: auto;
    font-style: normal;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    font-family: "Inter", sans-serif;
    font-weight: 799;
    font-optical-sizing: auto;
    font-style: normal;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 180px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* HERO */
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: #fff;
    position: fixed;
}

#hero h1 {
    font-size: 5rem;
    margin-left: 13rem;
    margin-bottom: 0.8rem;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-optical-sizing: auto;
    font-style: normal;
    transition: 1s;
    left: 0;
}

#hero p {
    font-size: 1.5rem;
    margin-left: 13rem;
    margin-bottom: 0.8rem;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-optical-sizing: auto;
    font-style: normal;
}

/* RESPONSIVE DESIGN */
@media(max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}
@media (max-width: 576px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

